.newsletter{
    height: 442px;
    background: #E7F9FD;
    border-radius: 2rem;
    margin: auto auto;
    position: relative;
}
.newsletter img{
    position: absolute;
    z-index: 0;
}
.left{
    bottom: 10px;
}
.right{
    bottom: 10px;
    right: 0;
}
.newsContentBox{
    width:38.75rem;
    height: 282px;
    text-align: center;
    top:80px;
    left: 350px;
    position: absolute;
}
.newsletterForm{
    width: 30rem;
    margin: auto auto;
    background: white;
    padding: 0.5rem;
    margin-top: 50px;
}
.newsEmail, .newsBtn{
    border: none;
    padding: 1.5rem;
}
.newsEmail{
    width: 60%;
    border-radius: 1rem 0 0 1rem ;
}

.newsEmail::placeholder{
    padding-left: 1rem;
}
.newsBtn{
    width: 30%;
    background: #000;
    color: white;
}