.container{
  width: 80rem;
  margin: auto auto;
}
a{
  text-decoration: none !important;
  color: inherit;
  margin: 0;
  padding: 0;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
h2{
  font-size: 3rem;
  font-weight: 600;
  line-height: 58.09px;
  letter-spacing: -0.04em;
}
.subTitle{
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  color: #00000099;
  margin-top: -15px;
}
.section{
  margin-top: 140px;
}
.squBtn{
  border-radius: 1rem;
  text-align: center;
}
